<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>list</title>
    <link rel="stylesheet" th:href="@{/css/like.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/axios.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <style>
        #board-detail {
            width: 800px;
            margin-top: 50px;
        }

        #comment-write {
            width: 600px;
        }
    </style>
</head>
<body>
<div class="container" id="board-detail">
    <table class="table table-hover">
        <tr>
            <th>id</th>
            <td th:text="${board.id}"></td>
        </tr>
        <tr>
            <th>title</th>
            <td th:text="${board.boardTitle}"></td>
        </tr>
        <tr>
            <th>writer</th>
            <td th:text="${board.boardWriter}"></td>
        </tr>
        <tr>
            <th>date</th>
            <td th:text="*{#temporals.format(board.boardCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        </tr>
        <tr>
            <th>hits</th>
            <td th:text="${board.boardHits}"></td>
        </tr>
        <tr>
            <th>contents</th>
            <td th:text="${board.boardContents}"></td>
        </tr>
        <tr th:if="${board.fileAttached == 1}">
            <th>image</th>
            <td th:each="fileName: ${board.storedFileName}">
                <img th:src="@{|/upload/${fileName}}" alt="" width="200" height="200">
            </td>
        </tr>

    </table>
</div>

    <div class="container mt-5" id="comment-list">
        <div th:if="${commentList == 'empty'}">
            <p>작성된 댓글이 없습니다.</p>
        </div>
        <div th:unless="${commentList == 'empty'}">
            <table class="table">
                <tr>
                    <th>댓글번호</th>
                    <th>작성자</th>
                    <th>내용</th>
                    <th>작성시간</th>
                </tr>
                <tr th:each="comment: ${commentList}">
                    <td th:text="${comment.id}"></td>
                    <td th:text="${comment.commentWriter}"></td>
                    <td th:text="${comment.commentContents}"></td>
                    <td th:text="*{#temporals.format(comment.commentCreatedTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </table>
        </div>
    </div>

<!--댓글 입력창-->
<div class="container" id="comment-write">
        <input type="hidden" th:value="${board.id}" name="boardId">
        <div class="form-group">
            <label for="commentWriter">작성자</label>
            <input type="text" class="form-control" id="commentWriter" th:value="${session.member.memberEmail}" readonly>
        </div>
        <div class="form-group">
            <label for="commentContents">내용</label>
            <textarea class="form-control" id="commentContents" rows="3" name="commentContents"></textarea>
        </div>
        <button id="comment-write-btn" class="btn btn-secondary" onclick="commentWrite()">댓글작성</button>




    <input type="checkbox" id="checkbox"/>
    <label for="checkbox">
        <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg" stroke-linecap="round" stroke-linejoin="round" onclick="boardLike()">
            <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                <path d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z" id="heart"/>
                <circle class="circle" cx="29.5" cy="29.5" r="1.5" stroke="#CD85E7" stroke-width="0 "/>

                <g id="grp7" opacity="0" transform="translate(7 6)">
                    <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2" />
                    <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2" />
                </g>

                <g id="grp6" opacity="0" transform="translate(0 28)">
                    <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2" />
                    <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2" />
                </g>

                <g id="grp3" opacity="0" transform="translate(52 28)">
                    <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2" />
                    <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2" />
                </g>

                <g id="grp2" opacity="0" transform="translate(44 6)">
                    <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2" />
                    <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2" />
                </g>

                <g id="grp5" opacity="0" transform="translate(14 50)">
                    <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2" />
                    <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2" />
                </g>

                <g id="grp4" opacity="0" transform="translate(35 50)">
                    <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2" />
                    <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2" />
                </g>

                <g id="grp1" opacity="0" transform="translate(24)">
                    <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2" />
                    <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2" />
                </g>
            </g>
        </svg>
        <div class="numbers">
            <a class="num1" th:text="${board.boardLike}"></a>
            <a class="num2" id="num2"></a>
        </div>
    </label>



</div>










</body>

<script th:inline="javascript">
    const boardLike = () => {
        const boardId = [[${board.id}]];
        const memberId = [[${session.member.id}]];
        $.ajax({
            async: false,
            type: "get",
            url: "/board/Like",
            data: {
                boardId: boardId,
                memberId: memberId
            },
            dataType: "json",
            success: function (boardDTO) {
                let num2 = document.getElementById("num2")
                num2.innerHTML = boardDTO.boardLike;
                alert("성공")


            },
            error: function () {
                alert("실패")
            }
        })
    }





    const commentWrite = () => {
        const writer = document.getElementById("commentWriter").value;
        const contents = document.getElementById("commentContents").value;
        const boardId = [[${board.id}]];
        axios({
            method: "post",
            url: "/comment/save",
            data: {
                commentWriter: writer,
                commentContents: contents,
                boardId: boardId
            }
        }).then(res => {
            console.log(res);
            console.log(res.data);
            const commentList = res.data;
            console.log("commentList", commentList);
            let output = "<table class='table'>";
            output += "<tr><th>댓글번호</th>";
            output += "<th>작성자</th>";
            output += "<th>내용</th>";
            output += "<th>작성시간</th></tr>";
            for (let i in commentList) {
                output += "<tr>";
                output += "<td>" + commentList[i].id + "</td>";
                output += "<td>" + commentList[i].commentWriter + "</td>";
                output += "<td>" + commentList[i].commentContents + "</td>";
                output += "<td>" + moment(commentList[i].commentCreatedTime).format("YYYY-MM-DD HH:mm:ss") + "</td>";
                output += "</tr>";
            }
            output += "</table>";
            document.getElementById('comment-list').innerHTML = output;
            document.getElementById('commentWriter').value = '';
            document.getElementById('commentContents').value = '';
        }).catch(err => {
            console.log(err);
        })
    }
</script>

</html>